.EmployeesPairs {
  font-family: Arial, Helvetica, sans-serif;
  height: 290px;
  overflow: scroll;
}

.Card {
  height: 310px;
}

.ListItem {
  padding-left: 20px;
}

.Button {
  width: 100%;
}

.Avatar {
  width: 200px;
  height: 200px;
}

.Logo {
  text-align: center;
}
